<div class="form-container hidden" id="addForm">
    <h3>Add Customer</h3>
    <form class="form">
      <input type="text" id="addFirst" placeholder="First Name">
      <input type="text" id="addLast" placeholder="Last Name">
      <input type="text" id="addEmail" placeholder="Email">
      <input type="number" id="addPhone" placeholder="Phone Number (Optional)">
      <button class="button button-green" id="addBtn">Add Customer</button>
      <button class="button button-red" id="addCancelBtn">Cancel</button>
    </form>
  </div>