<a class="table-title">Customers</a>

<thead>
    <tr>
    <td class="button-column-width"><button class="button button-new">New</button></td>
    <td class="button-column-width"><button class="button button-reset">Reset</button></td>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    </tr>
</thead>
<tbody>
    <tr>
    <td><button class="button button-edit">Edit</button></td>
    <td><button class="button button-delete">Delete</button></td>
    <td></td>
    <td>John</td>
    <td>Smith</td>
    <td>john@gmail.com</td>
    <td>NULL</td>
    </tr>
</tbody>