<div class="filterform-container">
    <h3>Filter by:</h3>
    <div class="form">
      <input class="filter" type="text" onchange="updateFilters()" onkeypress="updateFilters()" id="filterFirst" placeholder="First Name" />
      <input class="filter" type="text" oninput="updateFilters()" onkeypress="updateFilters()" id="filterLast" placeholder="Last Name" />
      <input class="filter" type="text" onchange="updateFilters()" onkeypress="updateFilters()" id="filterEmail" placeholder="Email" />
      <input class="filter" type="number" onchange="updateFilters()" onkeypress="updateFilters()" onclick="updateFilters()" id="filterPhone" placeholder="Phone Number" />
      <button class="button button-red" onclick="clearFilters()">Clear</button>
      <script>
        function clearFilters() {
          let inputs = document.getElementsByClassName('filter');
          for (const input of inputs) {
            input.value = '';
          }
          updateFilters();
        }
        function updateFilters() {
          console.log("Faux update");
        }
      </script>
    </div>
</div>