<div class="form-container hidden" id="updateForm" onsubmit="return false;">
    <h3>Update Customer</h3>
    <form class="form" action="none">
      <input type="text" id="updateFirst" placeholder="First Name">
      <input type="text" id="updateLast" placeholder="Last Name">
      <input type="text" id="updateEmail" placeholder="Email">
      <input type="number" id="updatePhone" placeholder="Phone Number (Optional)">
      <button class="button button-edit" id="updateBtn">Update Customer</button>
      <button class="button button-red" id="updateCancelBtn">Cancel</button>
    </form>
  </div>