<%# 
    Expects data: {
        header: [
            column1,
            column2,
            column3,
            ...
        ],
        order: [
            column1,
            column2,
            column3,
            ...
        ],
        entries: [
            {
                column1,
                column2,
                column3,
                ...
            },
            ...
        ]
    }
%>
<thead>
    <tr>
    <td class="button-column-width"><button class="button button-new" onclick="showAdd()">New</button></td>
    <td class="button-column-width"><button class="button button-reset" onclick="reset()">Reset</button></td>
    <% for (const heading of data.header) { %>
        <th><%= heading %></th>
    <% } %>
    </tr>
</thead>
<tbody>
    <% for (const entry of data.entries) { %>
        <tr>
            <td><button class="button button-edit" <%- `onclick="editLineSetup(event, ${entry[data.idField]})"` %>>Edit</button></td>
            <td><button class="button button-delete" <%- `onclick="deleteLine(${entry[data.idField]})"` %>>Delete</button></td>
            
            <% data.order.forEach((key) => { %>
                <td><%= entry[key] %></td>
            <% }); %>
        </tr>
    <% } %>
</tbody>