@media (prefers-color-scheme: dark) {
}

.header {
  background-color: #16202a; /* Lighter than #111827 */
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed; /* Keep header fixed at the top of the viewport */
  top: 0;
  left: 0;
  width: 100%; /* Ensure the header spans the entire width */
  z-index: 1000; /* Ensure the header stays on top of other content */
}

.home-button {
  /* Allows the Home button to sit on the left */
  flex-grow: 1;
  display: flex;
  justify-content: flex-start; /* Aligns Home button to the left */
}

.navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.navigation nav {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1000px
}

/* Styling for the Home button to match other buttons */
.nav-link, .nav-link-home {
  display: inline-flex; /* Changed from inline-block to inline-flex */
  align-items: center; /* Vertically */
  justify-content: center; /* Horizontally */
  background-color: #ffffff;
  color: #000000;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s;
  height: 40px;
}
.nav-link-home {
  margin-right: 20px;
}
.nav-link:hover, .nav-link:hover {
  background-color: #dbdbdb; /* Slightly darker green on hover */
}

/* Adjust navigation link appearance to be more button-like */
.navigation a.nav-link {
  background-color: #3b82f6;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.navigation a.nav-link:hover {
  background-color: #2563eb; /* Slightly darker blue on hover */
}

.navigation a {
  color: #60a5fa; /* Lighter blue for links */
  padding: 4px;
}
.navigation a:hover {
    color: #3b82f6; /* Darker blue on hover */
}



body {
  padding-top: 60px; /* Adjust based on the actual height of your header */
  background-color: #111827;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 16px auto;
  padding: 16px;
}



/* Base button styles */
.button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  color: #ffffff;
  text-align: center; /* Ensures text is centered in buttons */
  display: inline-block; /* Allows width and padding to be set */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  text-decoration: none; /* Removes underline from links */
}

/* Color variations */
.button-blue {
  background-color: #3b82f6;
}
.button-blue:hover {
  background-color: #2563eb; /* Slightly darker blue on hover */
}
.button-green {
  background-color: #22c55e;
}
.button-green:hover {
  background-color: #16a34a; /* Slightly darker green on hover */
}
.button-red {
  background-color: #ef4444;
}
.button-red:hover {
  background-color: #dc2626; /* Slightly darker red on hover */
}
.button-yellow {
  color: #000000; /* Text color for yellow button */
  background-color: #facc15;
}
.button-yellow:hover {
  background-color: #eab308; /* Slightly darker yellow on hover */
}

.button-new {
  padding: 12px 12px;
  background-color: #22c55e;
}
.button-new:hover {
  background-color: #16a34a; /* Slightly darker green on hover */
}
.button-reset {
  padding: 12px 12px;
  background-color: #facc15;
  color: #000000; /* Text color for yellow button */
}
.button-reset:hover {
  background-color: #eab308; /* Slightly darker yellow on hover */
}
.button-edit {
  padding: 6px 12px;
  background-color: #3b82f6;
}
.button-edit:hover {
  background-color: #2563eb; /* Slightly darker blue on hover */
}
.button-delete {
  padding: 6px 12px;
  background-color: #ef4444;
}
.button-delete:hover {
  background-color: #dc2626; /* Slightly darker red on hover */
}
.button-home {
  padding: 6px 12px;
  background-color: #b24ec8;
}
.button-home:hover {
  background-color: #952fac; /* Slightly darker blue on hover */
}

.table-title {
font-size: 24px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 16px;
}

.table th, .table td {
  border: 1px solid #374151; /* Border color to match the image */
  padding: 12px;
}

.table th {
  background-color: #1f2937;
  color: #ffffff;
}

.table td {
  background-color: #111827;
  color: #ffffff;
}

.styled-table {
  margin: auto; /* Centers the table */
  border-collapse: collapse;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 16px;
}

.styled-table th, .styled-table td {
  border: 1px solid #2d3748; /* Adds borders to table cells */
  padding: 10px;
  text-align: center; /* Centers text in table cells */
}

.button-column-width {
  width: 80px; /* Keeps button column widths consistent */
}

.form-container {
  background-color: #1f2937;
  padding: 16px;
  border-radius: 8px; /* Rounded corners */
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.form-container .form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
}


.form input[type="text"], .form select, .form input[type="number"], .form input[type="date"] {
  background-color: #374151;
  color: #d1d5db;
  border: none;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 8px;
  margin-right: 8px;
}

.form input[type="text"]::placeholder, .form input[type="number"]::placeholder, .form input[type="date"] {
  color: #9ca3af;
}

.form button {
  padding: 8px 16px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 8px;
  margin-right: 8px;
}




.filterform-container {
  position: absolute;
  top: auto;
  left: 5%;
  width: min-content;

  background-color: #1f2937;
  margin-top: 24px;
  padding: 16px;
  border-radius: 8px; /* Rounded corners */
  display: block;
}
.filterform-container .form {
  display: flex;
  flex-wrap: wrap;
}
.filterform-container button,
.filterform-container select,
.filterform-container input {
  margin: 4px;
}
.filterform-container button {
  width: auto;
}
.filterform-container select {
  width: 166px;
}
.filterform-container input {
  width: 150px;
}
.filterform-container h4 {
  margin: 16px;
}
@media screen and (max-width: 1600px) {
  .filterform-container {
    position: inherit;
    width: auto;

    border-radius: 8px; /* Rounded corners */
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .filterform-container .form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
  }
  .filterform-container input,
  .filterform-container select,
  .filterform-container button {
    margin: none;
    padding: 8px;
    width: auto;
  }
  .filterform-container select {
    height: 36px;
  }
  .filterform-container h4 {
    margin: 8px 0px 0px 0px;
  }
}


.hidden {
  display: none;
}